In [1]:
import sys
import copy
import pickle
import numpy as np
import pandas as pd

from tqdm import tqdm
from pathlib import Path
from IPython.display import display

sys.path.append(str(Path.cwd().parent))
from src.data import DataBundle, BatteryData
from src.builders import TRAIN_TEST_SPLITTERS
from src.utils.config import import_config

HOME = Path('..').absolute()

In [2]:
folder = HOME / 'workspaces/baselines/sklearn/discharge_model/mix_20/'

In [3]:
%cd $HOME
config_file = next(folder.glob('config*.yaml'))
config = import_config(config_file, ['train_test_split'])['train_test_split']
train_cell_files, test_cell_files = TRAIN_TEST_SPLITTERS.build(config).split()

train_cells = [BatteryData.load(c) for c in tqdm(train_cell_files, desc='Loading train cells')]
test_cells = [BatteryData.load(c) for c in tqdm(test_cell_files, desc='Loading test cells')]

/workspace/battery/nmi_configs

Loading train cells: 100%|██████████| 205/205 [01:24<00:00,  2.43it/s]
Loading test cells: 100%|██████████| 137/137 [01:16<00:00,  1.80it/s]

Calculate errors for different materials in `MIX-100` dataset.

In [4]:
def read_preds_and_labels(folder):
    # Load predictions
    predictions = []
    for data in (HOME / folder).glob('predictions*'):
        with open(data, 'rb') as f:
            predictions.append(pickle.load(f))

    # Restore the y_true and y_pred
    targets = []
    for pred  in predictions:
        data: DataBundle = pred['data']
        if data.label_transformation is not None:
            y_true = data.label_transformation.inverse_transform(data.test_data.label).cpu().numpy()
            y_pred = data.label_transformation.inverse_transform(pred['prediction'].cpu()).numpy()
        else:
            y_true = data.test_data.label.cpu().numpy()
            y_pred = pred['prediction'].cpu().numpy()
        targets.append((y_true, y_pred))

    return targets

In [5]:
sklearn_baselines = {
    'dummy': 'Training Mean',
    'variance_model': '``Variance\'\' Model',
    'discharge_model': '``Discharge\'\' Model',
    'full_model': '``Full\'\' Model',
    'ridge': 'Ridge Regression',
    'pcr': 'PCR',
    'plsr': 'PLSR',
    'svm': 'SVM',
    'rf': 'Random Forest'
}
nn_baselines = {
    'cnn': 'CNN',
    'mlp': 'MLP',
    'lstm': 'LSTM'
}

dataset = 'mix_100'

data = {}

for method, method_name in tqdm(sklearn_baselines.items(), desc='Sklearn baselines'):
    folder = Path('workspaces/baselines/sklearn') / method / dataset
    data[method_name] = read_preds_and_labels(folder)

for method, method_name in tqdm(nn_baselines.items(), desc='NN baselines'):
    folder = Path('workspaces/baselines/nn_models') / method / dataset
    data[method_name] = read_preds_and_labels(folder)

folder = Path('workspaces/ablation/feature_spaces/all_features') / dataset
data['BatLiNet'] = read_preds_and_labels(folder)

Sklearn baselines: 100%|██████████| 9/9 [00:00<00:00, 21.98it/s]
NN baselines: 100%|██████████| 3/3 [00:03<00:00,  1.07s/it]

In [14]:
def get_formatted_rmse(results, indeces):
    scores = []
    for seed_res in results:
        y_true, y_pred = seed_res
        y_true, y_pred = y_true[indeces], y_pred[indeces]

        rmse = np.mean((y_true - y_pred) ** 2) ** 0.5
        scores.append(rmse)

    return f'{np.mean(scores):.0f}±{np.std(scores):.0f}'

In [7]:
from collections import defaultdict

material_map = defaultdict(list)
for indx, cell in enumerate(test_cells):
    material_map[cell.cathode_material].append(indx)

In [16]:
pd.DataFrame({
    material: {
        method: get_formatted_rmse(data[method], test_indeces)
        for method in data
    } for material, test_indeces in material_map.items()
})

                        LCO     NMC     LFP
Training Mean         567±0   196±0   626±0
``Variance'' Model    191±0   100±0   598±0
``Discharge'' Model   122±0   137±0  2012±0
``Full'' Model        140±0    70±0   379±0
Ridge Regression      142±0   188±0   446±0
PCR                   280±0   164±0   427±0
PLSR                  148±0   134±0   422±0
SVM                   120±0    97±0   291±0
Random Forest          59±0    73±0   245±0
CNN                  127±27    59±7  287±24
MLP                  966±70  164±16  401±25
LSTM                   69±9    75±9  305±17
BatLiNet             117±65   67±20  187±13

In [17]:
materials = set()
for cell in train_cells:
    materials.add(cell.cathode_material)
print(materials)

{'LFP', 'NMC', 'LCO'}

In [8]:
# Function to extract the mean from the string
def extract_mean(value):
    try:
        return float(value.split('±')[0])
    except:
        return np.inf

# Function to highlight the minimum mean value in each row
def highlight_min(s):
    # Extract means for the row
    means = s.apply(extract_mean)
    # Get the index of the minimum mean
    min_index = means.idxmin()
    # Create a series to apply the highlighting
    is_min = pd.Series([''] * len(s), index=s.index)
    is_min[min_index] = 'background-color: black'
    return is_min

for dataset, data_scores in scores.items():
    print(dataset)
    # TODO: fill in NE results
    data_scores = pd.DataFrame(data_scores)
    if dataset == 'MATR-1':
        data_scores.loc[:, ['``Discharge\'\' Model', '``Full\'\' Model']] = '-'
        data_scores.loc[
            ['Root Mean Squared Error', 'Mean Absolute Percentage Error'],
            '``Discharge\'\' Model'
        ] = ['86±0', '10±0']
        data_scores.loc[
            ['Root Mean Squared Error', 'Mean Absolute Percentage Error'],
            '``Full\'\' Model'
        ] = ['100±0', '8±0']
    if dataset == 'MATR-2':
        data_scores.loc[:, ['``Discharge\'\' Model', '``Full\'\' Model']] = '-'
        data_scores.loc[
            ['Root Mean Squared Error', 'Mean Absolute Percentage Error'],
            '``Discharge\'\' Model'
        ] = ['173±0', '9±0']
        data_scores.loc[
            ['Root Mean Squared Error', 'Mean Absolute Percentage Error'],
            '``Full\'\' Model'
        ] = ['214±0', '11±0']
    display(data_scores.style.apply(highlight_min, axis=1))

MATR-1

MATR-2

HUST

MIX-100

MIX-20