In [1]:
import sys
import copy
import pickle
import numpy as np
import pandas as pd

from tqdm import tqdm
from pathlib import Path
from IPython.display import display

sys.path.append(str(Path.cwd().parent))
from src.data import DataBundle

HOME = Path('..').absolute()

Reproduce Table 1 with more metrics.

In [2]:
def mean_absolute_error(y_true, y_pred):
    return np.mean(np.abs(y_true - y_pred))

def mean_squared_error(y_true, y_pred):
    return np.mean((y_true - y_pred) ** 2)

def root_mean_squared_error(y_true, y_pred):
    return np.sqrt(mean_squared_error(y_true, y_pred))

def mean_squared_logarithmic_error(y_true, y_pred):
    return np.mean((np.log1p(y_true) - np.log1p(y_pred)) ** 2)

def root_mean_squared_logarithmic_error(y_true, y_pred):
    return np.sqrt(mean_squared_logarithmic_error(y_true, y_pred))

def r_squared(y_true, y_pred):
    ss_res = np.sum((y_true - y_pred) ** 2)
    ss_tot = np.sum((y_true - np.mean(y_true)) ** 2)
    return 1 - ss_res / ss_tot

def adjusted_r_squared(y_true, y_pred, n=None, p=1):
    r2 = r_squared(y_true, y_pred)
    n = n or len(y_true)
    return 1 - ((1 - r2) * (n - 1) / (n - p - 1))

def mean_absolute_percentage_error(y_true, y_pred):
    return np.mean(np.abs((y_true - y_pred) / y_true)) * 100

def symmetric_mean_absolute_percentage_error(y_true, y_pred):
    return 100 * np.mean(np.abs(y_true - y_pred) / ((np.abs(y_true) + np.abs(y_pred)) / 2))

def median_absolute_error(y_true, y_pred):
    return np.median(np.abs(y_true - y_pred))

def explained_variance_score(y_true, y_pred):
    var_y_true = np.var(y_true)
    return 1 - (np.var(y_true - y_pred) / var_y_true)

def normalized_mean_absolute_error(y_true, y_pred):
    return mean_absolute_error(y_true, y_pred) / (np.max(y_true) - np.min(y_true)) * 100

def normalized_mean_squared_error(y_true, y_pred):
    return mean_squared_error(y_true, y_pred) / (np.max(y_true) - np.min(y_true))

def normalized_root_mean_squared_error(y_true, y_pred):
    return root_mean_squared_error(y_true, y_pred) / (np.max(y_true) - np.min(y_true)) * 100

metrics = {
    "Root Mean Squared Error": root_mean_squared_error,
    "Mean Absolute Error": mean_absolute_error,
    "Median Absolute Error": median_absolute_error,
    # "Mean Squared Error": mean_squared_error,
    # "Mean Squared Logarithmic Error": mean_squared_logarithmic_error,
    # "Root Mean Squared Logarithmic Error": root_mean_squared_logarithmic_error,
    # "R-squared": r_squared,
    # "Adjusted R-squared": adjusted_r_squared,
    # "Explained Variance Score": explained_variance_score,
    "Mean Absolute Percentage Error": mean_absolute_percentage_error,
    "Symmetric Mean Absolute Percentage Error": symmetric_mean_absolute_percentage_error,
    "Normalized Mean Absolute Error": normalized_mean_absolute_error,
    "Normalized Root Mean Squared Error": normalized_root_mean_squared_error
}

In [3]:
def format_scores(scores):
    scores = copy.deepcopy(scores)
    for name, s in scores.items():
        mean, std = np.mean(s), np.std(s)
        scores[name] = f'{mean:.0f}±{std:.0f}'
    return scores


def calc_scores(folder: str, metrics: dict) -> dict:
    # Load predictions
    predictions = []
    for data in (HOME / folder).glob('predictions*'):
        with open(data, 'rb') as f:
            predictions.append(pickle.load(f))

    # Restore the y_true and y_pred
    targets = []
    for pred  in predictions:
        data: DataBundle = pred['data']
        if data.label_transformation is not None:
            y_true = data.label_transformation.inverse_transform(data.test_data.label).cpu().numpy()
            y_pred = data.label_transformation.inverse_transform(pred['prediction'].cpu()).numpy()
        else:
            y_true = data.test_data.label.cpu().numpy()
            y_pred = pred['prediction'].cpu().numpy()
        targets.append((y_true, y_pred))

    # Get scores
    scores = {}
    for name, func in metrics.items():
        scores[name] = []
        for y_true, y_pred in targets:
            scores[name].append(func(y_true, y_pred))
    
    scores = format_scores(scores)
    return scores

In [4]:
datasets = {
    'matr_1': 'MATR-1',
    'matr_2': 'MATR-2',
    'hust': 'HUST',
    'mix_100': 'MIX-100',
    'mix_20': 'MIX-20'
}
sklearn_baselines = {
    'dummy': 'Training Mean',
    'variance_model': '``Variance\'\' Model',
    'discharge_model': '``Discharge\'\' Model',
    'full_model': '``Full\'\' Model',
    'ridge': 'Ridge Regression',
    'pcr': 'PCR',
    'plsr': 'PLSR',
    'svm': 'SVM',
    'rf': 'Random Forest'
}
nn_baselines = {
    'cnn': 'CNN',
    'mlp': 'MLP',
    'lstm': 'LSTM'
}

scores = {}
for dataset, dataset_name in datasets.items():
    scores[dataset_name] = {}
    # sklearn baselines
    for method, method_name in tqdm(sklearn_baselines.items(), desc='sklearn baselines'):
        folder = Path('workspaces/baselines/sklearn') / method / dataset
        scores[dataset_name][method_name] = calc_scores(folder, metrics)

    # nn baselines
    for method, method_name in tqdm(nn_baselines.items(), desc='nn baselines'):
        folder = Path('workspaces/baselines/nn_models') / method / dataset
        scores[dataset_name][method_name] = calc_scores(folder, metrics)

    # Ours
    folder = Path('workspaces/ablation/feature_spaces/all_features') / dataset
    scores[dataset_name]['BatLiNet'] = calc_scores(folder, metrics)

sklearn baselines: 100%|██████████| 9/9 [00:00<00:00, 23.77it/s]
nn baselines: 100%|██████████| 3/3 [00:01<00:00,  2.69it/s]
sklearn baselines: 100%|██████████| 9/9 [00:00<00:00, 180.68it/s]
nn baselines: 100%|██████████| 3/3 [00:00<00:00, 12.86it/s]
sklearn baselines: 100%|██████████| 9/9 [00:00<00:00, 73.85it/s]
nn baselines: 100%|██████████| 3/3 [00:00<00:00,  9.45it/s]
sklearn baselines: 100%|██████████| 9/9 [00:00<00:00, 403.89it/s]
nn baselines: 100%|██████████| 3/3 [00:02<00:00,  1.36it/s]
sklearn baselines: 100%|██████████| 9/9 [00:00<00:00, 370.86it/s]
nn baselines: 100%|██████████| 3/3 [00:00<00:00, 14.53it/s]

In [5]:
# Function to extract the mean from the string
def extract_mean(value):
    try:
        return float(value.split('±')[0])
    except:
        return np.inf

# Function to highlight the minimum mean value in each row
def highlight_min(s):
    # Extract means for the row
    means = s.apply(extract_mean)
    # Get the index of the minimum mean
    min_index = means.idxmin()
    # Create a series to apply the highlighting
    is_min = pd.Series([''] * len(s), index=s.index)
    is_min[min_index] = 'background-color: black'
    return is_min

metric_abbr = [
    'RMSE', 'MAE', 'MAD',
    'MAPE', 'sMAPE', 'NMAE', 'NRMSE'
]
for dataset, data_scores in scores.items():
    print(dataset)
    # TODO: fill in NE results
    data_scores = pd.DataFrame(data_scores)
    if dataset == 'MATR-1':
        data_scores.loc[:, ['``Discharge\'\' Model', '``Full\'\' Model']] = '-'
        data_scores.loc[
            ['Root Mean Squared Error', 'Mean Absolute Percentage Error'],
            '``Discharge\'\' Model'
        ] = ['86±0', '10±0']
        data_scores.loc[
            ['Root Mean Squared Error', 'Mean Absolute Percentage Error'],
            '``Full\'\' Model'
        ] = ['100±0', '8±0']
    if dataset == 'MATR-2':
        data_scores.loc[:, ['``Discharge\'\' Model', '``Full\'\' Model']] = '-'
        data_scores.loc[
            ['Root Mean Squared Error', 'Mean Absolute Percentage Error'],
            '``Discharge\'\' Model'
        ] = ['173±0', '9±0']
        data_scores.loc[
            ['Root Mean Squared Error', 'Mean Absolute Percentage Error'],
            '``Full\'\' Model'
        ] = ['214±0', '11±0']
    display(data_scores.style.apply(highlight_min, axis=1))
    data_scores.index = metric_abbr
    data_scores.T.to_latex(HOME / f'nmi_rebuttal_final/assets/{dataset}.tex')
    # data_scores.to_excel(f'{dataset}.xlsx')

MATR-1

MATR-2

HUST

MIX-100

MIX-20